@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import '../../../glabal.styles.scss';

#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    text-align: center;
    h1.name {
      font-family: 'Sacramento', cursive;
      color: $mainAccentColor;
      font-size: 5rem;
      font-weight: normal;
      margin-bottom: -1rem;
    }
  }

  .caption {
    color: $normalNearWhiteColor;
    font-size: 1.5rem;
  }

  ul.icon-links-list {
    margin-top: 0.2rem;
    justify-content: center;
    display: flex;

    a {
      margin: 0 0.75rem;
      color: $normalNearWhiteColor;
      display: block;
      transition: 0.25s;

      &:hover {
        color: $mainAccentColor;
        transform: scale(1.05);
        text-shadow: -2px 2px 1px black;
      }
    }
  }
}
